{% extends "layout.html.twig" %}

{% block content %}
    {% for article in articles %}
        <main class="main">
            <div class="card">
                <div class="card-flex1">
                    <a class="card-image-link" href="#">
                        <div class="card-image" id="card-image1"></div>
                    </a>
                </div>
                <div class="card-flex2">
                    <h2 class="card-title">{{ article.title }}</h2>
                    <div class="card-date">SEPTEMBER 8, 2016</div>
                    <div class="card-date">{{ article.author }}</div>
                    <a href="#" class="card-category">ART</a>
                    <p class="card-content">{{ article.content }}</p>
                    <a class="card-link" href="#">Read more...</a>
                </div>
            </div>
        </main>
    {% endfor %}
{% endblock %}



