<header class="topbar">
    <div class="topbar-container">
        <div class="topbar-container-mobile">
            <a href="/"><h2 class="topbar-title">Blogger</h2></a>
            <div class="topbar-burger" id="burger" onclick="myFunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>
        <div class="topbar-menu no-show" id="topbar-menu">
            <a href="/articles/list" class="{% if uri == "articles" %}{{ "active" }}{% endif %}">Articles</a>
            <div class="topbar-line"></div>
            <a href="/about/index" class="{% if uri == "about" %}{{ "active" }}{% endif %}">About</a>
            <div class="topbar-line"></div>
            <a href="/contact/index" class="{% if uri == "contact" %}{{ "active" }}{% endif %}">Contact</a>
        </div>
    </div>
</header>
