<div class="container">
    <aside class="sidebar">
        <div class="sidebar-header">
            <a class="sidebar-image" href="#"><img src="https://picsum.photos/600/600" alt=""></a>
        </div>
        <p class="sidebar-description">Bonjour à tous bienvenue sur mon super blog, ici vous trouverez des articles de qualité sur toutes mes passions.</p>
        <div class="sidebar-line"></div>
        <div class="sidebar-socials">
            <a class="sidebar-socials-image" href="#"><img src="http://uploads.webflow.com/56cf6e77d3b4fc4579d0a954/56cf6e77d3b4fc4579d0a99b_social-03.svg" alt=""></a>
            <a class="sidebar-socials-image" href="#"><img src="http://uploads.webflow.com/56cf6e77d3b4fc4579d0a954/56cf6e77d3b4fc4579d0a9a9_social-07.svg" alt=""></a>
            <a class="sidebar-socials-image" href="#"><img src="http://uploads.webflow.com/56cf6e77d3b4fc4579d0a954/56cf6e77d3b4fc4579d0a9bf_social-18.svg" alt=""></a>
            <a class="sidebar-socials-image" href="#"><img src="http://uploads.webflow.com/56cf6e77d3b4fc4579d0a954/56cf6e77d3b4fc4579d0a9d0_social-09.svg" alt=""></a>
        </div>
    </aside>