{% extends "layout.html.twig" %}

{% block content %}
    {% include "_sidebar.html.twig" %}
    <main class="main">
        <div class="about">
            <h1 class="about-title">About Me</h1>
            <p class="about-content">The rich text element allows you to create and format headings, paragraphs, blockquotes, images, and video all in one place instead of having to add and format them individually. Just double-click and easily create content.</p>
            <h2 class="about-subtitle">Something else here</h2>
            <p class="about-content">Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper.Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla.</p>
            <button onclick="location.href = 'contact/index'" class="about-contact">Get in touch</button>
        </div>
    </main>
{% endblock %}