{% extends "layout.html.twig" %}

{% block content %}
    {% include "_sidebar.html.twig" %}
    <main class="main">
        <div class="contact">
            <h1 class="contact-title">Get in touch</h1>
            <p class="contact-content">Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>

            <form action="" method="POST" class="contact-form">
                <div class="form-flex">
                    <label for="name">Name</label>
                    <input type="text" name="user_name" id="name" placeholder="Enter your name">
                    <label for="email">Email</label>
                    <input type="email" name="user_mail" id="email" placeholder="Enter your email">
                    <label for="message">Message</label>
                    <textarea name="user_message" id="message" cols="30" rows="5" placeholder="Enter your message"></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
{% endblock %}
